.footer__column-link a {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 1;
  transition: 0.3s;
}

.footer__column-link:hover {
  opacity: 0.5;
}
