.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* parameters for the header section */

@keyframes rotation {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(345deg);
  }
}


.header {
  display:flex;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
}


.logo{
  position:absolute;
  z-index:1;
}

.logo_place_header{
  width:154px;
  height:31px;
  padding-top: 30px;
  padding-left: 64px;
}

.header__title{
  display:flex;
  align-items:center;
  z-index: 2;
  line-height: 96px;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle{
  display: flex;
  flex-direction: column;
  position:absolute;
  left:64px;
  bottom:30px;
  line-height:25px;
  font-size: 18px;
  font-weight: normal;
  width:388px;
  z-index:2;
}

.header__link {
  color:#2F80ED;
  text-decoration: none;
  font-weight: normal;
  opacity:1;
  transition: 0.3s;
}


.header__link:hover {
   opacity:0.5;
   color:#2F80ED;
}

.header__main-ilustration{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  width: 756px;
  height: 608px;
}

.header__square{
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color:#2F80ED;
  transform:rotate(-15deg);
  animation: rotation 20s linear infinite;
}


.description {
  padding-top: 100px;
}

.two-columns{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: auto;
  flex-wrap: wrap;
  width:80%;
 }

.two-columns__brief{
  width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size:18px;
  font-weight:normal;
}

.two-columns__main-text{
  width:80%;
  min-width:784px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight:normal;
  padding-bottom: 30px;

}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight:bold;
}

.techniques{
  padding-top: 100px;
}

.section-title_block_techniques{
  display: flex;
  justify-content: center;
  width:60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;

}

.section-subtitle_block_techniques{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width:60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-top: 20px;
}

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  list-style:none;
  gap:100px;
  padding-top:60px;
}

.cards__item{
  margin:0;
  width: 240px;
}

.cards__image{
  height:160px;
  width:160px;
  border-radius:50%;
  padding-left:40px;
  padding-right:40px
}

.cards__title{
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-top:43px;

}

.cards__description{
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  padding-top:16px;
}

.video{
  padding-top: 100px;
  background-image: linear-gradient(white 85%, #F2F2F2 15%);
}

.section-title_block_video{
  display: flex;
  justify-content: center;
  width:60%;
  margin: 0 auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;

}

.section-subtitle_block_video{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width:60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-top: 20px;
}

.video__iframes{
 display: flex;
 justify-content: center;
 flex-direction: row;
 gap:20px;
 flex-wrap: wrap;
 margin:auto;
 padding-top: 50px;
 z-index: 1;
 border: 0;
}

.video__iframe{
 display: flex;
 justify-content: center;
 flex-direction: row;
}

.oakley{
  padding-top:160px;
  background-color:#F2F2F2;
}

.two-columns_oakley{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin:  auto;
  flex-wrap: wrap;
  width:80%;
}

.two-columns__brief_oakley{
  width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size:18px;
  font-weight:normal;
}

.two-columns__main-text_oakley{
  width:80%;
  min-width:784px;
}


.two-columns__paragraph_oakley{
  line-height: 34px;
  font-size: 24px;
  font-weight:normal;
  padding-bottom: 30px;
}

.feynman{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:790px;
  background-color: #F2F2F2;
  position:relative;
}

.feynman__image{
  position:absolute;
  bottom: 0;
  left:0;
  width: 867px;
  height: 637px;
  background-repeat:no-repeat;
  z-index: 1;
 }

.feynman__title {
  width: 775px;
  display:flex;
  line-height:1.15;
  font-size:120px;
  font-weight: bold;
  z-index: 2;
}

.feynman__subtitle {
  display: flex;
  margin-top: 70px;
  line-height: 51px;
  font-size:36px;
  z-index: 3;
}

.feynman__link{
  text-decoration: none;
  position:absolute;
  right:48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#2F80ED;
  opacity:1;
  transition: 0.3s;
}

.feynman__link:hover {
  opacity: 0.5;
}

.digits{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:60%;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width:60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 1100px;
  align-content: space-between;
  margin: auto;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.12;
  font-size: 18px;
  font-weight: normal;
  margin-top:20px;
}

.khan{
  padding-top: 105px;
  background-color:#F2F2F2;
  color:#1f1f1f;
  height:900px; /* Essa altura não está no brief, mas o bloco ficou extremamente espremido e fui tentando ajustar */
}

.khan__container{
  display:flex;
  flex-direction:column;
  width:80%;
  margin:0 auto;
  }

.khan__author{
  line-height:42px;
  font-size:30px;
  font-weight:normal;
  margin-bottom: 0;
}

.khan__title{
  line-height:1.15;
  font-size:60px;
  font-weight:bold;
  margin-top: 0;
}

.khan__quote{
  width:790px;
  padding-top: 50px;
  margin:0;
  line-height:34px;
  font-size:24px;
  font-weight:normal;
}

.khan__quote_author{
 padding-top:36px;
 margin:0;
 line-height:1.15;
 font-size:24px;
 font-weight:bold;
}

.khan__quote-author-subline{
  padding-top:10px;
  margin:0;
  line-height:1.15;
  font-size:24px;
  font-weight:normal;
  padding-bottom:68px;
}

.khan__book-container{
  display: flex;
  position: relative;
  overflow: hidden;

}

.khan__book-pic{
  height: 608px;
  width: 620px;
  margin-right:48px;
  object-fit: cover;
  object-position: -18% -18%;
}

.khan__buy-link{
  padding-top:38px;
  color:#2F80ED;
  line-height:42px;
  font-size:30px;
  font-weight:normal;
  opacity:1;
  transition: 0.3s;
}

.khan__buy-link:hover{
  opacity:0.5;
}

.kaufman{
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  padding-top: 90px;
}

.section-title_theme_dark {
  display: flex;
  justify-content: center;
  width:60%;
  margin: 0 auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 3;
}

.section-subtitle_theme_dark{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width:60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 3;
}

.table__theme_dark{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 1100px;
  align-content: space-between;
  margin: 0 auto 90px;
}

 .table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_dark{
  line-height:1.15;
  font-size:24px;
  font-weight:bold;
  z-index: 2;
}

.table__text_dark{
  line-height:1.2;
  font-size: 18px;
  font-weight:normal;
  z-index: 2;
}

.kaufman__triangle{
  position:absolute;
  right: -124px;
  height:660px;
  width: 636px;
  z-index:0;
  animation: rotation 20s linear infinite;
}

.resources{
 padding-top: 100px;
 display: flex;
 flex-direction: column;
 background-color: white;
 color:#1f1f1f
}

.section-title_block_resources{
  display:flex;
  justify-content:center;
  width:60%;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_block_resources{
  display: flex;
  justify-content: center;
  width:60%;
  margin: 0 auto;
  padding-top:20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.resources__logo-zone{
  display: flex;
  width: 1100px;
  margin:auto;
  padding-top: 80px;
  padding-bottom:217px;
}

.resources__logo{
  width:270px;
  height:38px;
  background-size: contain;
  list-style: none;
}

/* including elements with key-value modifiers */

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color:white;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom:40px;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:90%;
}

.footer__colum_content_copyright{
  display:flex;
  flex-basis: 711px;
}

.logo__place_footer{
  width:183px;
  height:35px;
}

.footer__author{
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
  padding-top: 18px;
  padding-bottom:18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__colum_content_about{
  display:flex;
  flex-direction: column;
}

.footer__column-heading{
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  padding: 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social{
  display:flex;
  flex-direction: column;
 }

.footer__column-link{
 text-decoration: none;
 opacity:1;
 transition: 0.3s;
}

.footer__column-link:hover{
  opacity:0.5;
 }
.footer__social-icons{
  margin-right: 10px;
  height:16px;
  width:16px;
}
