.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* parameters for the header section */








































.kaufman{
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  padding-top: 90px;
  padding-bottom:90px;
}

.section-title_theme_dark {
  display: flex;
  justify-content: center;
  width:60%;
  margin: 0 auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 3;
}

.section-subtitle_theme_dark{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width:60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 3;
}

.table__theme_dark{
  z-index: 2;
}

 .table__cell_theme_dark {
  width: 200px;
  z-index: 2;
}


.table__heading_theme_dark{
  z-index: 2;
}


.table__text_theme_dark{
  line-height: 1.12;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.kaufman__triangle{
  position:absolute;
  right: -124px;
  height:660px;
  width: 636px;
  z-index:0;
  animation: rotation 20s linear infinite;
}


.resources{
 padding-top: 100px;
 display: flex;
 flex-direction: column;
 background-color: white;
 color:#1f1f1f;
}

.section-title_block_resources{
  display:flex;
  justify-content:center;
  width:60%;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_block_resources{
  display: flex;
  justify-content: center;
  width:60%;
  margin: 0 auto;
  padding-top:20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.resources__logo-zone{
  display: flex;
  width: 1100px;
  margin:auto;
  padding-top:80px;
  padding-bottom:217px;
}

.resources__logo{
  width:270px;
  height:38px;
  background-size: contain;
  list-style: none;
}

*/

/* including elements with key-value modifiers */

.footer{
  display: flex;
  flex-direction:column;
  background-color: #1f1f1f;
  color:white;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom:40px;

}

.logo__place_footer{
  width:183px;
  height:35px;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:90%;
  margin:0 auto;
}

.footer__colum_content_copyright{
  display:flex;
  flex-basis: 711px;
}


.footer__author{
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
  padding: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_about{
  display:flex;
  flex-direction: column;
}

.footer__column-heading{
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin:0;
}

.footer__list {
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin:0;
  }

.footer__column_content_social{
  display:flex;
  flex-direction:column;
  }

.footer__column-link {
  display: flex;
  text-decoration: none;
  opacity:1;
  transition: 0.3s;
  color:white;
}

.footer__column-link:hover{
  opacity:0.5;
}

.footer__social-icons{
  margin-right:10px;
  height:16px;
  width:16px;
}
